

main {
    flex: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s ease 0.1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}


body.dark {
    background: rgb(25,25,25);
    color: white;
}

body.dark button {
    background: black;
    color: white;
    transition: background 0.3s ease 0.1s;
}

body.dark footer {
    color: white;
    transition: background 0.3s ease 0.1s;
}

body.dark input {
    background: black;
    color: white;
    transition: background 0.3s ease 0.1s;
}

body.dark input::placeholder {
    color: rgb(200,200,200);
    transition: background 0.3s ease 0.1s;
}

header {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    
    font-weight: bold;
    font-size: xx-large;
    justify-content: center;
    align-items: center;

    transition: background 0.3s ease 0.1s;
}



img {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    width: 36%;
    max-width: 800px;
    object-fit: cover;
    aspect-ratio: 1;

    transition: opacity 0.3s ease 0.1s;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.username, .advice-button {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.advice-container {
    display: none;
    justify-content: center;
}

.current-advice {
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

.advice {
    font-style: italic;

    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    margin: auto;

    justify-content: center;
    align-items: center;
}

.dark-mode {
    position: absolute;
    margin: 10px;
    right: 0;
    font-size: 10px;
    height: 24px;
    width: 64px;

    
}


footer {
    color: black;
    font-size: 12px;
    padding: 20px;

    text-align: center;
    transition: background 0.3s ease 0.1s;
}

